<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

<!--    <bean id="cat" class="com.yan.pojo.Cat"/>-->
<!--    <bean id="dog" class="com.yan.pojo.Dog"/>-->

<!--    <bean id="person" class="com.yan.pojo.Person">-->
<!--        <property name="name" value="张三"/>-->
<!--        <property name="dog" ref="dog"/>-->
<!--        <property name="cat" ref="cat"/>-->
<!--    </bean>-->

    <!--自动装配-->
    <bean id="cat" class="com.yan.pojo.Cat"/>
    <bean id="dog" class="com.yan.pojo.Dog"/>
    <!--
    byName: 会自动在容器上下文中查找，和自己对象set方法后面的值对应的beanid!
    byType: 会自动在容器上下文中查找，和自己对象set方法参数类型对应的bean!
    -->
    <bean id="person" class="com.yan.pojo.Person" autowire="byName">
        <property name="name" value="张三"/>
    </bean>
</beans>