<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="address" class="com.yan.pojo.Address">
        <property name="address" value="北京"/>
    </bean>

    <bean id="student" class="com.yan.pojo.Student">
        <!--第一种，普通值注入，value-->
        <property name="name" value="张三"/>

        <!--第二种，Bean注入，ref-->
        <property name="address" ref="address"/>

        <!--第三种，数组注入，array-->
        <property name="books">
            <array>
                <value>《红楼梦》</value>
                <value>《西游记》</value>
                <value>《三国演义》</value>
                <value>《水浒传》</value>
            </array>
        </property>

        <!--第四种，List注入, list-->
        <property name="hobbys">
            <list>
                <value>听歌</value>
                <value>敲代码</value>
                <value>看电影</value>
            </list>
        </property>

        <!--第五种，Map注入, map-->
        <property name="card">
            <map>
                <entry key="身份证" value="1234546876515"/>
                <entry key="银行卡" value="123245646313"/>
            </map>
        </property>

        <!--第六种，Set注入, set-->
        <property name="games">
            <set>
                <value>LOL</value>
                <value>COC</value>
                <value>BOB</value>
            </set>
        </property>

        <!--第七种，Null注入, null-->
        <property name="wife">
            <null/>
        </property>

        <!--第八种，Properties注入, pros-->
        <property name="info">
            <props>
                <prop key="学号">2120214567</prop>
                <prop key="性别">男性</prop>
                <prop key="姓名">小明</prop>
                <prop key="username">root</prop>
                <prop key="password">123456</prop>
            </props>
        </property>
    </bean>
</beans>